<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar nuevo curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="gradeForm" (ngSubmit)="createGrade()">
    <ion-item>
      <ion-input type="text" formControlName="name" placeholder="Introduzca el nombre del curso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="teacherId" placeholder="Seleccione el profesor encargado">
        <ion-select-option *ngFor="let item of teachers" value="{{ item.id }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" [disabled]="!gradeForm.valid">Registrar nuevo curso</ion-button>
  </form>

  {{ message }}

</ion-content>
