<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <ion-item>
      <ion-input type="text" formControlName="name" placeholder="Introduzca el nombre del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="ci" placeholder="Introduzca el CI del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="address" placeholder="Introduzca la direccion del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="age" placeholder="Introduzca la edad del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="phone" placeholder="Introduzca el telefono del usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Introduzca la contraseña provisional para el usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="type" placeholder="Seleccione la funcion que cumplira el usuario">
        <ion-select-option *ngFor="let item of userTypes" value="{{ item.code }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" [disabled]="!userForm.valid">Registrar nuevo usuario</ion-button>
  </form>

  {{ message }}

</ion-content>
