<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="changePassword()">
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Introduzca la contraseña actual"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="newPassword" placeholder="Introduzca la nueva contraseña"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!userForm.valid">Cambiar contraseña</ion-button>
  </form>

  {{ message }}

</ion-content>
