<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicia sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="login_form" (ngSubmit)="login()">
    <ion-item>
      <ion-input type="number" formControlName="ci" placeholder="Introduzca su CI"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Introduzca su contraseña"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!login_form.valid">Iniciar Sesion</ion-button>
  </form>

</ion-content>
