<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inscribir a un alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="gradeForm" (ngSubmit)="createGrade()">
    <ion-item>
      <ion-select formControlName="gradeId" placeholder="Seleccione el curso">
        <ion-select-option *ngFor="let item of grades" value="{{ item.id }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select formControlName="studentId" placeholder="Seleccione al estudiante">
        <ion-select-option *ngFor="let item of teachers" value="{{ item.id }}">{{ item.ci }} {{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" [disabled]="!gradeForm.valid">Inscribir</ion-button>
  </form>

  {{ message }}

</ion-content>
