<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar nueva materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="subjectForm" (ngSubmit)="createSubject()">
    <ion-item>
      <ion-input type="text" formControlName="name" placeholder="Introduzca el nombre de la materia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="gradeId" placeholder="Seleccione el curso de la materia">
        <ion-select-option *ngFor="let item of grades" value="{{ item.id }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select formControlName="teacherId" placeholder="Seleccione el profesor encargado">
        <ion-select-option *ngFor="let item of teachers" value="{{ item.id }}">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" [disabled]="!subjectForm.valid">Registrar nueva materia</ion-button>
  </form>

  {{ message }}

</ion-content>
